body {
  background-color:#cccccc;
}

body * {
  position: absolute;
}

#playground {
  background-color:#ffffff;
}

#game_console {
  width:400px;
  height:250px;
  border:2px solid #AAAAAA;
  overflow:auto;
}
